<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:component-scan base-package="com.in28minutes.spring.basics"/> -->

	<bean id="sharedHttpClientRemedy" class="it.reply.sytel.adr.common.ws.SharedHTTPSClient" lazy-init="true">
		<property name="contentType" value="text/xml"/> 
		<property name="protocolHandShake" value="TLSv1.2"/>
		<property name="httpsClientProperties">
        	<bean class="it.reply.sytel.adr.common.ws.HttpsClientProperties">
            	<property name="superMap">
                	<map>
                    	<entry key="communication_A1">
                    		<map>                           
                                    <entry key="keyPwd"            value=""/>
                                    <entry key="keystorePwd"       value=""/>
                                    <entry key="keystoreURLString" value=""/>
                                    <entry key="trustPwd"          value="password"/>
                                    <entry key="trustURLString"    value="file:///D:/Dynatrace2RemedyITSM/Dynatrace2RemedyITSM/trunk/resourcesConf/truststore.jks"/>
<!--                                     <entry key="trustURLString"    value="file:///opt/dynatrace/remedyConnector/config/truststore.jks"/> -->
<!--                                     <entry key="urlToConnect"      value="http://localhost:8088/mockHPD_IncidentInterface_Create_WSPortTypeSoapBinding"/> -->
								 	<entry key="urlToConnect"      value="https://localhost:8443/arsys/services/ARService?server=adrbmcast&amp;webService=HPD_IncidentInterface_Create_WS_VIP"/>
									<entry key="maxTotalThread"    value="100"/>
                                    <entry key="soTimeout"         value="50000"/>
                                    <entry key="connTimeout"       value="120000"/>
							</map>
                    	</entry>
					</map>
				</property>
<!--                  <property name="cryptoService"         ref="localCryptoService"/>  -->
                <property name="managedConnLifetime"   value="305000"/>
                <property name="idleConnEvictorPeriod" value="5000"/>
                
				<property name="connKAStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionKeepAliveStrategy" />
                </property>                         
                <property name="connReuseStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionReuseStrategy"/>
                </property>
                <property name="retryHandler">
                	<bean class="it.reply.sytel.adr.common.ws.GKHttpRequestRetryHandler"/>
                </property>
                  
        	</bean>
		</property> 
	</bean>
	
	<!-- To add -->
	<bean id="sharedHttpClientRemedyToClose" class="it.reply.sytel.adr.common.ws.SharedHTTPSClient" lazy-init="true">
		<property name="contentType" value="text/xml"/> 
		<property name="protocolHandShake" value="TLSv1.2"/>
		<property name="httpsClientProperties">
        	<bean class="it.reply.sytel.adr.common.ws.HttpsClientProperties">
            	<property name="superMap">
                	<map>
                    	<entry key="communication_A1">
                    		<map>                           
                                    <entry key="keyPwd"            value=""/>
                                    <entry key="keystorePwd"       value=""/>
                                    <entry key="keystoreURLString" value=""/>
                                    <entry key="trustPwd"          value="password"/>
                                    <entry key="trustURLString"    value="file:///D:/Dynatrace2RemedyITSM/Dynatrace2RemedyITSM/trunk/resourcesConf/truststore.jks"/>
<!--                                     <entry key="trustURLString"    value="file:///opt/dynatrace/remedyConnector/config/truststore.jks"/> -->
<!--                                     <entry key="urlToConnect"      value="http://localhost:8088/mockHPD_IncidentInterface_Create_WSPortTypeSoapBinding"/> -->
								 	<entry key="urlToConnect"      value="https://localhost:8443/arsys/services/ARService?server=adrbmcast&amp;webService=HPD_IncidentInterface_WS"/>
									<entry key="maxTotalThread"    value="100"/>
                                    <entry key="soTimeout"         value="50000"/>
                                    <entry key="connTimeout"       value="120000"/>
							</map>
                    	</entry>
					</map>
				</property>
<!--                  <property name="cryptoService"         ref="localCryptoService"/>  -->
                <property name="managedConnLifetime"   value="305000"/>
                <property name="idleConnEvictorPeriod" value="5000"/>
                
				<property name="connKAStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionKeepAliveStrategy" />
                </property>                         
                <property name="connReuseStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionReuseStrategy"/>
                </property>
                <property name="retryHandler">
                	<bean class="it.reply.sytel.adr.common.ws.GKHttpRequestRetryHandler"/>
                </property>
                  
        	</bean>
		</property> 
	</bean>

	<bean id="sharedHttpClientDynatrace" class="it.reply.sytel.adr.common.ws.SharedHTTPSClient" lazy-init="true">
		<property name="contentType" value="text/xml"/> 
		<property name="protocolHandShake" value="TLSv1.2"/>
		<property name="httpsClientProperties">
        	<bean class="it.reply.sytel.adr.common.ws.HttpsClientProperties">
            	<property name="superMap">
                	<map>
                    	<entry key="communication_A1">
                    		<map>                           
                                    <entry key="keyPwd"            value=""/>
                                    <entry key="keystorePwd"       value=""/>
                                    <entry key="keystoreURLString" value=""/>
                                    <entry key="trustPwd"          value="password"/>
<!--                                     <entry key="trustURLString"    value="file:///opt/dynatrace/remedyConnector/config/truststore.jks"/> -->
                                    <entry key="trustURLString"    value="file:///D:/Dynatrace2RemedyITSM/Dynatrace2RemedyITSM/trunk/resourcesConf/truststore.jks"/>
									<entry key="urlToConnect"      value=""/>
									<entry key="maxTotalThread"    value="100"/>
                                    <entry key="soTimeout"         value="50000"/>
                                    <entry key="connTimeout"       value="120000"/>
							</map>
                    	</entry>
					</map>
				</property>
<!--                  <property name="cryptoService"         ref="localCryptoService"/>  -->
                <property name="managedConnLifetime"   value="305000"/>
                <property name="idleConnEvictorPeriod" value="5000"/>
                
				<property name="connKAStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionKeepAliveStrategy" />
                </property>                         
                <property name="connReuseStrategy">
                	<bean class="it.reply.sytel.adr.common.ws.GKConnectionReuseStrategy"/>
                </property>
                <property name="retryHandler">
                	<bean class="it.reply.sytel.adr.common.ws.GKHttpRequestRetryHandler"/>
                </property>
                  
        	</bean>
		</property> 
	</bean>

	<bean id="restClient" class="it.reply.sytel.adr.dynatraceClient.imp.RestClientImpl"> 
    	<property name="httpClient">
    		<ref bean="sharedHttpClientDynatrace"/>
    	</property>
    	<property name="encoding">
			<value>UTF-8</value>
		</property>
		<property name="soapAction">
			<value></value>
		</property>
		<property name="userToken">
			<value></value>
		</property>
	</bean>
	
	<bean id="dynatraceClient" class="it.reply.sytel.adr.dynatraceClient.imp.DynatraceClientImpl"> 
    	<property name="restClient">
    		<ref bean="restClient"/>
    	</property>
    	
	</bean>
	
	
	<bean id="remedyClient" class="it.reply.sytel.adr.remedyAdapter.impl.RemedyWSClientImpl"> 
		<property name="encoding">
			<value>UTF-8</value>
		</property>
		<property name="soapAction">
			<value></value>
		</property>
		<property name="userToken">
			<value></value>
		</property>
		<property name="sharedHTTPClient">
			<ref bean="sharedHttpClientRemedy" />
		</property>
	
	</bean>
	
	<!-- To add -->
	<bean id="remedyClientToClose" class="it.reply.sytel.adr.remedyAdapter.impl.RemedyWSClientToCloseImpl"> 
		<property name="encoding">
			<value>UTF-8</value>
		</property>
		<property name="soapAction">
			<value></value>
		</property>
		<property name="userToken">
			<value></value>
		</property>
		<property name="sharedHTTPClient">
			<ref bean="sharedHttpClientRemedyToClose" />
		</property>
	
	</bean>
	
	<bean id="incidentDAO" class="it.reply.sytel.adr.dao.impl.IncidentDAOImpl" init-method="init">
		<property name="protocol">
			<value>localhost</value>
		</property>
		<property name="port">
			<value>1527</value>
		</property>
		<property name="dbName">
			<value>d:/DerbyDB1/IncidentDB</value>
		</property>
<!-- 		<property name="dbName"> -->
<!-- 			<value>/opt/dynatrace/remedyConnector/DerbyDB/IncidentDB</value> -->
<!-- 		</property> -->
	</bean>

	<!-- Services Context -->
	
	<bean id="configResourceFile" class="it.reply.sytel.adr.common.resource.imp.ResourceFile">
		<property name="fileName">
			<value>ADR.properties</value>
		</property>
	</bean>
	

	<bean id="configServicesFile" class="it.reply.sytel.adr.configuration.ConfigServicesFile" init-method="init">
		<property name="resource">
			<ref bean="configResourceFile"/>
		</property>
	</bean>
	
	<bean id="daoConfig" class="it.reply.sytel.adr.configuration.ConfigServicesFile">
		
	</bean>
	
	
	<bean id="serviceContext" class="it.reply.sytel.adr.core.services.context.impl.ServiceContextImpl">
		<property name="daoConfig">
			<ref bean="daoConfig" />
		</property>
	</bean>
	
	<!-- Services-->
			
	<bean id="getDynatraceIncident" class="it.reply.sytel.adr.services.impl.GetDynatraceIncident" lazy-init="true">
		<property name="context">
			<ref bean="serviceContext" />
		</property>
		<property name="incidentDAO">
			<ref bean="incidentDAO" />	
		</property>
		<property name="dynatraceClient">
			<ref bean="dynatraceClient" />	
		</property>
	</bean>
	
	<bean id="createRemedyIncident" class="it.reply.sytel.adr.services.impl.CreateRemedyIncident" lazy-init="true">
 		<property name="context">
 			<ref bean="serviceContext" />
 		</property> 
 		<property name="incidentDAO">
 			<ref bean="incidentDAO" />
 		</property>
 		<property name="remedyClient">
 			<ref bean="remedyClient" />
 		</property>
 		
	</bean>
	
	<!-- To change-->
	<bean id="closeRemedyIncident" class="it.reply.sytel.adr.services.impl.CloseRemedyIncident" lazy-init="true">
		<property name="context">
			<ref bean="serviceContext" />
		</property>
		<property name="incidentDAO">
			<ref bean="incidentDAO" />
		</property>
		<property name="remedyClient">
 			<ref bean="remedyClientToClose" />
 		</property>
	</bean>
	
	<!-- To add-->
	<bean id="deleteDynatraceIncident" class="it.reply.sytel.adr.services.impl.DeleteOldRemedyIncident" lazy-init="true">
		<property name="context">
			<ref bean="serviceContext" />
		</property>
		<property name="incidentDAO">
			<ref bean="incidentDAO" />
		</property>
	</bean>
	
	<!-- engine -->
	<bean id="remedyIncidetBuilderEngine" class="it.reply.sytel.adr.engine.RemedyIncidetBuilderEngine" lazy-init="true">
		<property name="createRemedyIncident">
			<ref bean="createRemedyIncident"/>
		</property>
		<property name="getDynatraceIncident">
			<ref bean="getDynatraceIncident"/>
		</property>
		
		<property name="closeRemedyIncident">
			<ref bean="closeRemedyIncident"/>
		</property>
		
		<property name="deleteDynatraceIncident">
			<ref bean="deleteDynatraceIncident"/>
		</property>
	</bean>


</beans>